           
            <nav id="nav">
                <ul>
                    <li><%= link_to 'Home ', root_path %></li>
                    <li><%= link_to 'Dropdown', pages_test_path %><li>
                    <li><%= link_to 'Left Sidebar', pages_left_path %></li>
                    <li><%= link_to 'Right Sidebar', pages_right_path %></li>
                    <li><%= link_to 'No Sidebar', pages_no_sidebar_path %></li>
                </ul>
            </nav>


